@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
  
  transition: all 0.4s;
  font-family: 'Playfair Display', serif;
}

.simple-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #A9B388;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    
  }
 
  
  .CopyRight {
    max-width: 1200px;
    margin: 4%;
    
  }
  
  .QuickLinks {
    margin: auto;
    margin: 4%;
  
  }
  .QuickLinks ul{
    flex: 2;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    color: beige;
    list-style: none;
  }
  .SocialMedia{
    margin: auto;
    margin-right: 50px;
    flex: 1;
  }
  .Description{
    flex: 1;
    margin: 4%;
    margin: auto;
    
  }