@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: 'Roboto Slab', serif;
}

.nav{
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: transparent;
    
}
.logo{
    cursor: pointer;
    height: 150px;
}
.NavList {
    list-style: none;
}
.NavList li{
    display: inline-block;
    padding: 0px 20px;
    
}
.NavList li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-family:"Roboto Slab",serif;
    font-size: large;
    letter-spacing: 2px;
    color: black;
}
.NavList li a:hover{
    color: #576309;
    
}