body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
  }
  
  /* Navbar styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
  nav.transparent {
    background-color: transparent;
  }
  
  nav.solid {
    background-color: #333; /* Set your desired solid color */
  }
  
  nav a {
    text-decoration: none;
    color: green;
    margin: 0 50px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #3d5a09; /* Set your desired hover color */
  }
  
  /* Logo styles */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Dropdown menu styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: beige; /* Set your desired dropdown background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555; /* Set your desired dropdown hover background color */
  }
  /* main content  */
  .mainContent{
    margin: 0;
    padding: 1000px;
    height: 500px;
    background-color: #3d5a09;
  }
  
  /* Add your media queries for responsiveness */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .dropdown {
      display: block;
      margin-top: 10px;
    }
  }
  