body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
 
 
}
#root{
  display: flex;
 flex-direction: column;
 min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProductCard{
  display: flex;
  align-items: center;
}
.Product{
  height: 100%;
  align-items: center;
  margin-bottom: 40px;
  

}